
langchain
langgraph
langchain-core
langchain-community
langchain-ollama
langchain-mistralai

qdrant-client

sentence-transformers
transformers
torch

pydantic

fastapi
uvicorn

python-dotenv

numpy
pandas

tiktoken

aiofiles

httpx

typing-extensions


